[2018-12-10 12:23] OriHoch opened #43 "cluster backup and restore"
High-level issue for all backup/restore requirements

**backup**
* Heptio ARK for storage (handled in ViderumGlobal/ckan-cloud-cluster#7)
* Google Cloud SQL Automated backups for DB
* Custom solution for individual DB SQL backups (migrated from old cluster)

**restore**
* Restore storage server - using Heptio ARK
* Restore DB instance - using Google Cloud SQL
* Restore individual instance storage:

[2019-01-11 15:26] zelima opened #1 "ckan-cloud-operator deis-instance create from-gcloud-envvars results in TypeError"
Trying to create an instance from gcloud envvars (with actual variables).

[code]

This results in following:

[code]

Looking at the code function awaits args, but it seems to be getting kwargs

[code]

an easy fix would be?

[code]

[2019-01-11 15:33] OriHoch commented on #1
yes, your fix seem correct

[2019-01-13 08:04] #1 closed, assigned to OriHoch, zelima

[2019-01-14 11:36] zelima opened #4 "check_call() got an unexpected keyword argument 'gsutil'"
`ckan-cloud-operator deis-instance create from-gcloud-envvars ...`  fails with the following error

[code]

Looking at the `check_call` from [gcloud.py](https://github.com/ViderumGlobal/ckan-cloud-operator/blob/master/ckan_cloud_operator/gcloud.py#L20-L25) it does not expect `gsutil` argument:
[code]

So I assume there should be `with_activate=True` instead of `gsutil=True` in [db.py](https://gith

[2019-01-14 11:58] zelima opened #5 "create from-gcloud-envvars errors with not enough values to unpack"
`ckan-cloud-operator deis-instance create from-gcloud-envvars` need exactly 6 arguments to run but for some reason [instance.py](https://github.com/ViderumGlobal/ckan-cloud-operator/blob/master/ckan_cloud_operator/deis_ckan/instance.py#L271) ignores last 2 and leads to `ValueError`

[code]

removing `-2` from `instance_env_yaml, image, solr_config, gcloud_db_url, gcloud_datastore_url, instance_id

[2019-01-14 12:51] zelima opened #6 "delete does not delete databases"
`ckan-cloud-operator deis-instance delete --force aridhia-staging` fails to remove databases. Looking at the logs:

[code]

[2019-01-14 13:53] zelima opened #7 "create from-gcloud-envvars fails on setting permissions to cloud storage for import to sql"
`ckan-cloud-operator deis-instance create from-gcloud-envvars ...` fails with
[code]

Happens when the following command is executed: `gcloud --project=ckan-cloud acl ch -u email@...iam.gserviceaccount.com:R gs://my.backup.dump.sql`

Looking at the [gloud docs](https://cloud.google.com/storage/docs/gsutil/commands/acl) this command should actually be executed via `gsutil`. So it should be

[code]

[2019-01-14 14:36] zelima opened #8 "create from-gcloud-envvars should not expect ckan-init commands by default"
Got the following error when trying to create instance from gcloud envvars:

[code]

Looking at the [create code](https://github.com/ViderumGlobal/ckan-cloud-operator/blob/master/ckan_cloud_operator/deis_ckan/instance.py#L269-L292) spec returned by function does not contain `{ckan: {init: [commands...]}}` (unlike the spec return by `from-gitlab`).

On the other hand [ckan.py](https://github.com/Vi

[2019-01-14 15:18] zelima commented on #8
FIXED in https://github.com/ViderumGlobal/ckan-cloud-operator/commit/eecb0f3517a301323be0db2b011db53d971fb609

[2019-01-14 15:18] #8 closed, assigned to zelima

[2019-01-14 15:19] zelima commented on #7
FIXED in https://github.com/ViderumGlobal/ckan-cloud-operator/commit/eecb0f3517a301323be0db2b011db53d971fb609

[2019-01-14 15:19] #7 closed, assigned to zelima

[2019-01-14 15:19] zelima commented on #5
FIXED in https://github.com/ViderumGlobal/ckan-cloud-operator/commit/eecb0f3517a301323be0db2b011db53d971fb609

[2019-01-14 15:19] #5 closed, assigned to zelima

[2019-01-14 15:19] zelima commented on #4
FIXED in https://github.com/ViderumGlobal/ckan-cloud-operator/commit/eecb0f3517a301323be0db2b011db53d971fb609

[2019-01-14 15:19] #4 closed, assigned to zelima

[2019-01-17 15:57] OriHoch opened #13 "should use distutils.util.strtobool(val) to convert string to bool for the annotation flags"
https://github.com/ViderumGlobal/ckan-cloud-operator/blob/master/ckan_cloud_operator/kubectl.py?fbclid=IwAR0lQ1AafrPAPpBxl-mjHp7fes5MqB2HEXflnPu09KfHNzN_7K5DgWQA6E0#L291

[2019-01-21 18:02] zelima opened #16 "create from-gcloud-envvars fails on creating datastore permission for some instances"
I'm trying to migrate instance with database >5GB, but it's failing with
[code]

## Reproduce.

- Try migrating `datahub` instance from the old cluster. Creating an Instance `ckan-cloud-operator deis-instance create from-gcloud-envvars ....`
- Since the datastore dump is big, import fails with timeout so add the following lines to [db.py](https://github.com/ViderumGlobal/ckan-cloud-operator/blob/m

[2019-01-21 18:05] zelima commented on #16
- The actual error is coming from this line https://github.com/ViderumGlobal/ckan-cloud-operator/blob/master/ckan_cloud_operator/deis_ckan/db.py#L126.
- While executing this sql command https://github.com/ViderumGlobal/ckan-cloud-operator/blob/master/ckan_cloud_operator/datastore_permissions.py
- on last command to be exact:

[code]

I've manually executed the following command and get the same er

[2019-01-22 06:05] zelima opened #17 "Not all envvars are set correctly when creating from-google-envvars"
While this works fine for some instances, I've just got an error from migrating `meerbusch`

[code]

Looking at the values of the `envvars` I've got unexpected database URLs:

[code]
Note
- CKAN_SQLALCHEMY_URL: passowrd in None
- CKAN__DATAPUSHER__URL: is None
- CKAN__DATASTORE__READ_URL: both user and password is None

---

Original `CKAN__DATAPUSHER__URL` looks like this https://datapusher-de.l3

[2019-01-22 10:35] zelima commented on #16
Just to emphasize: This issue nothing has to do with the size of the instance,  I've just migrated NAV successfully that has roughly the same size as `datahub`. I assume it's either instance related or ckan-version related issue

[2019-01-22 10:58] zelima opened #18 "ckan-cloud-operator initialize-gitlab sometimes fails"
If fails, it only happens on the very first run. The error is coming from this line https://github.com/ViderumGlobal/ckan-cloud-operator/blob/master/ckan_cloud_operator/gitlab.py#L113. If you just rerun, it get's through

[code]

[2019-01-22 15:37] OriHoch commented on #16
fixed on master - the import now waits until import is complete
did some other fixes, haven't been able to reproduce this problem

[2019-01-22 15:37] OriHoch commented on #16
I managed to successfully import datahub

[2019-01-22 15:38] OriHoch commented on #17
fixed on master

[2019-01-23 14:39] zelima opened #19 "Authentication problem with solr"
Irakli Mchedlishvili [Today at 1:48 PM]
Getting this after migrating the first instance on the production
[code]

we need to set:
[code]

the change should be done here:
https://github.com/ViderumGlobal/ckan-cloud-operator/blob/master/ckan_cloud_operator/deis_ckan/envvars.py#L49 (edited)

and in infra secret - add the username / password as well in separate keys

[2019-01-24 04:33] zelima commented on #17
Datapusher urls are fixed but, I'm still getting None@None on production. Will try to fix.

Seems like annotations problems:
[code]
We are getting datastore user and passwords from there: https://github.com/ViderumGlobal/ckan-cloud-operator/blob/master/ckan_cloud_operator/deis_ckan/envvars.py#L29-L31

[2019-01-24 06:00] zelima commented on #17
Manually deleted databases and recreated. No everything looks fine. Think we can close as FIXED

[2019-01-24 06:04] zelima commented on #19
Above was solved by adding CKAN_SOLR_USER and CKAN_SOLR_PASSWORD to envvars see https://github.com/ViderumGlobal/ckan-cloud-operator/pull/20

But now we have authentication problem anyway when making requests:
[code]

[2019-01-24 09:20] zelima opened #21 "ckan-cloud-operator-env activate {my-env} fails"
I've added the new env, but can't activate. Failing with:

[code]

It's missing `ENVIRONMENT_NAME="${2}"` on [this line](https://github.com/ViderumGlobal/ckan-cloud-operator/blob/master/ckan-cloud-operator-env.sh#L62)

[2019-01-25 13:04] zelima commented on #19
FIXED in ViderumGlobal/ckan-cloud-operator@afde17b

[2019-01-25 13:04] #19 closed, assigned to zelima

[2019-01-25 14:03] zelima opened #23 "Inconstancy in instance storage names causes failure on create from-deis"
Trying to migrate `opendatadenmark`,  but it's storage is named `opendatadenmark-stage` (instead of `opendatadenmark-staging`) and `opendatadenmark-prod` (instead of `opendatadenmark`) leading `create from-deis` in failure:

[code]

[2019-01-25 14:50] zelima opened #25 "solr_config names are not always returned"
`kubectl -n solr exec zk-0 zkCli.sh get /collections/{old_instance_id} 2>&1` not alwais returns the solr config name in. https://github.com/ViderumGlobal/ckan-cloud-operator/blob/master/ckan_cloud_operator/deis_ckan/instance.py#L307-L309 Resulting create to fail. Eg:

[code]

[2019-01-25 15:07] zelima commented on #25
For whatever strange reason it's collection lives on `opendatadenmarkdashstaging` instead of `opendatadenmark-staging`

[code]

Not sure what exactly we should do here

[2019-01-25 15:13] zelima commented on #25
I could do something similar to https://github.com/ViderumGlobal/ckan-cloud-operator/pull/24/files, but who knows how many different edge cases are there

[2019-01-25 15:34] zelima commented on #25
Ok, this seems to be consistent - there's never a `-` in solr collection name but `dash` instead so fix should be pretty straightforward

[2019-01-28 08:33] #23 closed, assigned to zelima

[2019-01-28 08:34] #21 closed, assigned to zelima

[2019-01-28 09:38] zelima opened #26 "Image build fails due to dependency installation failure"
Due to the latest version (19.0.1) of pip https://github.com/pypa/pip/issues/6197 installation for some packages fail while building docker images for the deis instances.

[code]

We are always installing the latest version of pip after https://github.com/ViderumGlobal/ckan-cloud-operator/commit/dcf1038436b258f85b3096abb6cd83f0e4a0bdcf#diff-0e56af39d909bba5a78bd065247a8f63R70

2 options for soluti

[2019-01-28 09:49] #26 closed, assigned to zelima

[2019-01-28 13:18] zelima commented on #17
Did not repeat since, closing as FIXED

[2019-01-28 13:18] #17 closed, assigned to OriHoch, zelima

[2019-01-28 13:19] zelima commented on #16
I also migrated datahub without issue above. Did not face a similar problem since that. So closing as FIXED

[2019-01-28 13:19] #16 closed, assigned to OriHoch, zelima

[2019-01-29 04:41] zelima commented on #25
FIXED in https://github.com/ViderumGlobal/ckan-cloud-operator/pull/24

[2019-01-29 04:41] #25 closed, assigned to zelima

[2019-02-01 07:37] OriHoch opened #29 "[task] ckan instance manual testing and load testing"
This issue is a task which could be performed in parallel for multiple instances.

All testing should be done on production ckan-cloud environment.

## Migrate an instance

This step should run by a ckan-cloud developer which has ckan-cloud-operator installed and configured locally.

start the gcloud sql proxy locally -

[code]

keep running in background, and in a new terminal -

set env var to u

[2019-02-03 08:31] OriHoch commented on #6
fixed, using psql to delete databases instead of via gcloud

[2019-02-03 08:31] #6 closed, assigned to OriHoch

[2019-02-04 09:20] zelima opened #31 "Waiting for ready status fails"
Trying to migrate one of deis instances. Fails on the `Waiting for ready status` part with following

[code]

Failing after this commit https://github.com/ViderumGlobal/ckan-cloud-operator/commit/67b3e35a2f9d81b1135c1bc2cdd2b32a3ee98aa6#diff-25a7b8327c37a646d868ce662a190d78R312

[code]

Looking at the `data` it is the dict,  so I assume the line above is missing `data.items()`

[2019-02-05 08:12] zelima commented on #31
FIXED in #32

[2019-02-05 08:12] #31 closed, assigned to zelima

[2019-02-05 12:38] OriHoch commented on #29
completed task for instance ori-test-vrr

![image](https://user-images.githubusercontent.com/1198854/52273862-b9ef4180-2953-11e9-8295-fdbb35fe86bc.png)

[2019-02-06 14:22] OriHoch opened #34 "research connections limit and suggest short and long-term solutions"
currently we are hitting a connections limit due to large number of instances and low limit from Google Cloud SQL which is not configurable:  https://cloud.google.com/sql/docs/quotas

We added [pgbouncer](https://pgbouncer.github.io/) but still hitting some limits

## Connection Estimates

Per Instance:
* 7-8 connections  average
* 24 connections max

Number of instances: ~50

## Errors

errors fr

[2019-02-06 14:29] OriHoch opened #35 "review DB migration and permissions and suggest short and long-term improvements"
Currently we are getting some errors during or after migration for some instances. Due to variance between instances, it's hard to debug. Need to review the DB creation, migration and permissions.

## DB Creation/migration flow

* create base DB: https://github.com/ViderumGlobal/ckan-cloud-operator/blob/master/ckan_cloud_operator/deis_ckan/db.py#L178
* initialize postgis (for some DBs): https://gi

[2019-02-11 10:16] akariv opened #37 "Lines starting with 'S' in creation log get first char removed"
(need to add example)

[2019-02-12 11:07] OriHoch opened #38 "minio storage migration fails on some instances"
## reproduction

Using Rancher, deploy a minio client image (`docker image = minio/mc`) with entrypoint `/bin/sh -c "while true; do sleep 86400; done"`

Execute a shell on the pod and run the following inside the minio client shell to setup the relevant hosts

[code]

Create the target bucket (if not exists)

[code]

mirror the data

[code]

## expected

all data migrated, no errors

## actual

ge

[2019-02-13 06:58] OriHoch commented on #38
The error is due to missing ETAG for some resources on old minio

The objects exist and can be downloaded from minio web-ui, but when using S3 api it validates the ETAG to make sure file was downloaded properly and this fails.

This seems to be a known issue in minio, the fix is to re-upload the files with missing ETAG, or to generate ETAG manually and edit low-level minio file to set it for each

[2019-02-13 07:59] OriHoch opened #39 "[research] problems related to varnish error on uwsgi/varnish based instances"
when looking into the connections limit, I investigated old cluster as well and I think they are hitting connection limit as well
I think there might be some old extensions which run some daemons that place extra load and might cause cascade of errors

logging setup seems to have some problems, preventing getting logs in this case

[2019-02-13 09:00] OriHoch opened #40 "add a Kubernetes readiness probe to ckan instances that checks all processes are running and healthy"
had problem with uwsgi processes getting "stuck", this is fixed by restarting the pod

We could add a readiness probe which executes periodically in the ckan container and can check (e.g. with ps / curl etc..) if all processes are running and site is healthy. If readiness probe fails for period of time / number of checks it will restart the container

[2019-02-19 08:22] OriHoch opened #44 "add support for registering SSL using http authentication for external domains"
[code]

To simplify, we might need dedicated load balancer for external domains, which will be authenticated for ownership using http (instead of DNS which more reliable and used for our domains, but cannot be used for external domains)

[2019-02-21 11:49] zelima commented on #29
The result of load testing on the old cluster:

- 2 instances in parallel (https://old.datahub.io/ and https://us-ed.l3.ckan.io/), 50 concurrent users for 10 minutes
  - Errors: 0
  - ~8000 hits total
  -  average response time ~5sec
  - max response time 15sec
- 3instances in parallel (https://lincolnshire.l3.ckan.io,  https://data.nav.no/ and https://montreal.l3.ckan.io/), 50 concurrent users fo

[2019-02-21 11:50] zelima commented on #29
### Edge cluster

Here you can find the results of load and manual testing https://docs.google.com/spreadsheets/d/1K3721rhM4b14KwcQoznq4ijnYKNtExXSoVPZb35JYZo/edit#gid=1825672970

Also, see on octoperth https://app.octoperf.com/#/app/workspace/AWio9Oe8oNkppeW4cila/projects

We have tested the following web endpoints:

/
/dataset
/organization
/group
and subpages of all above
Most of the instances

[2019-02-27 08:14] #37 closed, assigned to akariv

[2019-02-28 08:10] OriHoch opened #46 "add solr metrics to prometheus"
we have a prometheus + grafana installation for metrics (installed via https://github.com/GoogleCloudPlatform/click-to-deploy/tree/master/k8s/prometheus in prometheus namespace)

this allows to add solr specific metrics, the general flow for adding metrics to prometheus is:

1. run an exporter which exposes the metrics via HTTP
2. edit the prometheus configmap and add a job that scrapes it

option

[2019-03-04 11:58] zelima opened #47 "Not all migrated instances are monitored for uptime on statuscake"
We've lately migrated several instances to production, like datahub, lacounts, ni-stage but only ni-stage is monitored.

[2019-03-06 10:06] OriHoch commented on #47
uptime monitoring was disabled when I migrated them, updated them (`ckan-cloud-operator deis-instance update INSTANCE_ID --skip-deployment`) and now  they are available on status cake

[2019-03-06 10:06] #47 closed, assigned to zelima

[2019-03-07 14:16] #34 closed, assigned to OriHoch

[2019-03-07 14:16] #35 closed, assigned to OriHoch

[2019-03-07 14:18] #44 closed, assigned to OriHoch

[2019-03-07 14:18] #43 closed, assigned to OriHoch

[2019-03-12 08:51] OriHoch opened #50 "set smtp settings at run-time, based on from address"

[2019-03-26 08:41] #50 closed, assigned to OriHoch

[2019-03-26 08:42] #29 closed, assigned to nobody

[2019-03-27 07:46] #18 closed, assigned to zelima

[2019-04-15 14:18] OriHoch opened #54 "ckan-cloud-operator should support route53 DNS provider"

[2019-06-19 07:40] zelima opened #59 "GitLab Privat Token expired for cco initialize-gitlab"
Getting exit status 22 when trying to initialize-gitlab.
[code]

Tried to run curl command manually:
[code]

After Generating new personal token (with my account) problem is gone. So we need to generate a new one for a production cluster and update appropriate ENV

[2019-06-19 09:39] #13 closed, assigned to nobody

[2019-06-19 09:40] #38 closed, assigned to nobody

[2019-06-19 09:40] #39 closed, assigned to nobody

[2019-06-19 09:41] #40 closed, assigned to nobody

[2019-06-19 09:42] #46 closed, assigned to OriHoch

[2019-06-19 09:43] #54 closed, assigned to OriHoch

[2019-06-19 09:43] #59 closed, assigned to nobody

[2019-09-09 14:22] jqnatividad opened #64 "How does Deis fit into the platform?"
@aluminiumgeek @akariv

Asking in behalf of @adborden in reference to

https://github.com/datopian/ckan-cloud-operator/blob/full-documentation/docs/DOCUMENTATION.md#devops-giude

[2019-09-12 14:12] pwalsh commented on #64
@jqnatividad

The early versions of CKAN Cloud Operator ran with support for [Deis Workflow](https://github.com/deis/workflow). Some of the code still supports Dockerfiles that were designed with that deployment target.

[2019-09-24 16:16] avdata99 opened #66 "Fail to create package at datagov-theme instance"
I run the datagov instance with:

[code]

I have errors creating dataset:
ERROR creating CKAN package: http://nginx:8080/api/3/action/package_create Status code: 409 content:b'

[code]
The value from is _'R/P1Y'_. And it's OK internally

**Dataset**
[code]

I look at the repo and it seems to be OK
https://github.com/akariv/ckanext-datajson/blob/datagov/ckanext/datajson/helpers.py#L235

[2019-09-25 05:11] akariv commented on #66
Hey, the validation comes from the USMetadata Extension that has its own set of validations. If you read the original datajson extension, you'll find a conversion table there.
I'm guessing you'll have to implement a similar conversion in your code as well.

[2019-09-25 05:28] akariv commented on #66
uses of the {reverse_,}accrual_periodicity_dict

[code]

[2019-09-25 05:36] akariv commented on #66
Issue migrated to GSA/datagov-ckan-multi#148

[2019-09-25 05:36] #66 closed, assigned to nobody

[2019-10-16 07:53] #64 closed, assigned to nobody

[2019-11-10 12:49] pwalsh opened #68 "Running CCO on "minikube""
# Job story

When I use and interact with CKAN Cloud Operator (CCO), I want to be able to run it in local development, so I can debug and develop the codebase and running CKANs in it without standing up a whole cluster on a major cloud provider.

# Context

Currently, we have a range of manual steps that are under- or un-documented, to run CKAN Cloud. And, the assumption is that one is deploying o

[2019-11-10 12:57] pwalsh opened #69 "Automating infrastructure deployments for CCO-managed clusters"
# Job story

When I standup a cluster of CKANs managed by CCO, I want to be able to automate the required infrastructure deployment in a platform-agnostic way, so I have a consistent foundation for infrastructure resource management that is code-driven and does not require manual configuration steps.

# Context

Currently, we have a range of manual steps that are under- or un-documented, to run CK

[2019-11-10 13:00] pwalsh opened #70 "Using cloud-native object storage for file storage"
# Job story

When I standup a cluster of CKANs managed by CCO, I want to provide a configuration for all CKANs hosted therein to use object storage that is provided by the cloud platform, rather than the current method of using minio, so I can leverage the redundancy and availability promises of those services, and reduce the complexity of the software running within the cluster I manage.

# Conte

[2019-11-10 13:01] pwalsh opened #71 "Don't deploy dependencies that are not used in a given deployment"
# Job story

When I deploy CCO into a cluster to provide multi-tenant management of CKAN, I want to be able to control the services that are deployed, so that I do not run services I do not use and that services I do not use do not consume cluster resources.

# Context

The code base has services running (ELK?), Minio, that may not be in use on a given CCO deployment.

# Acceptance criteria

- [ ]

[2019-11-10 15:39] pwalsh commented on #71
@akariv a first step may be an audit of exactly what does currently get deployed and towards what purpose.

[2019-11-11 06:12] pwalsh opened #72 "Helm-based deployments as canonical deployment method"
# Job story

When I use CCO, I want a clear method of deployment, supported by good documentation, so I can deploy apps according to CCO best practice.

# Context

Currently, we have multiple deployment methods - a "deis" style deployment designed originally to support migration of legacy cloud software at Viderum, and two different helm-based deployments. This is confusing.

# Acceptance criteria

[2019-11-11 10:23] akariv commented on #70
I think that current helm-based ckan instances don't use minio at all (this is something of the deis instances only).
All configuration for these helm instances is in ckan-cloud-helm, and cco currently provisions disks for storage for these instances.
Do we need to support multiple buckets + credentials for different instances, or can we use a single bucket with separate folders (but shared creden

[2019-11-11 10:24] pwalsh commented on #70
- A bucket per instance
- Not shared credentials

[2019-11-13 12:18] zelima commented on #68
To update with progress

- Was having hard times with starting minkube properly (now solved) https://github.com/ViderumGlobal/ckan-cloud-helm/issues/9
- Was trying to deploy ckan instance without centralized infra analysis here https://github.com/ViderumGlobal/ckan-cloud-helm/issues/10
- After discussed with @akariv switched to centralized infra. Deployed successfully but having troubles with ckan

[2019-11-13 12:37] aluminiumgeek commented on #70
Current flow:
- deis-type instances: CCO creates directory named as instance in common minio storage
- helm-based instances: helm chart creates persistent volume for data.

Plan:
1. Add configurable option on cluster initialization setup: use minio or cloud native object storage.
2. Implement gcloud/s3/azure bucket storage creation (using service account credentials) on CKAN instance creation.
3.

[2019-11-13 15:17] akariv commented on #70
First of all, we're only interested in the helm-based instances for this
modification.

Second - please be more elaborate in your analysis:
- what is the exact flow (which classes / functions are being called, what
each one does, in order of execution)
- where in this flow you plan to add your modifications?
- which configuration options are you planning to add to support this
feature?
- Explain w

[2019-11-19 06:49] aluminiumgeek commented on #70
## CKAN instance creation flow
An example of command to create a CkanInstance type resource:
```ckan-cloud-operator ckan instance create helm <path-to-values.yaml> --instance-id <instance id> --instance-name <instance name> --update --exists-ok --wait-ready```

The command will run `ckan_cloud_operator.providers.ckan.instance.manager.create()` function with the next parameters:
[code]

Note, the `

[2019-11-19 08:43] akariv commented on #70
Hey Mikhail -
Please also address the issue of credentials - where will they be stored?
How will they be passed to CKAN?
Do we need multiple levels of credentials (e.g. one for reading/writing to
a bucket and another which can create/delete buckets as well)

After that, let's split the work into two phases -
First is for creating the storage module in CCO + unit tests. Once that is
merged, add the

[2019-11-19 09:25] aluminiumgeek commented on #70
## Bucket credentials

When a bucket is created, save its credentials in a secret named `bucket-credentials` inside namespace of the CKAN instance.
We should update CKAN helm chart to get credentials from this secret and set them as environment variables during helm chart deployment.

I don't think we need multiple levels.

[2019-11-19 10:21] akariv commented on #70
How do centralized db credentials are passed to ckan? In the same method?

On Tue, Nov 19, 2019, 11:25 Mikhail Mezyakov <notifications@github.com>
wrote:

[2019-11-20 05:41] zelima opened #73 "[Docs] What is values.yaml file and how to properly write it"
Helm based deployment assumes that user already has `values.yaml` when deploying to k8 with helm.

As a newbie CCO user, I want to know what exactly values.yaml is, what it is for, if it is required and how to create it (and maybe have an example of it) so that I'm able to perform helm based deployments.

As a CCO user, I want to know what is the conversion of writing values there, EG how would `c

[2019-11-20 05:54] zelima opened #74 "Create values.yaml with CCO CLI"
As a CCO user, I want to run 1 or few cco commands (maybe with prompts), and create values.yaml, so that I don't have to write by myself or copy from elswhere

As a CCO user, I want cco to have a default/general values.yaml to be created when deploying via helm, so that I don't need to spend time on searching what it is and create it by myself.

## Acceptance Criteria

- [ ] cco has command to cre

[2019-11-20 06:05] zelima opened #75 "Create storage classes with CCO"
As a cco user, who does not know much about storage-classes, I want cco to take care of its creation,  so that I don't need to spend time understanding what they are and how to configure them properly

As a cco user, I want to be able to configure storage-classes Eg choose which provisioner to use (azure, aws, google etc...), so that I'm able to use cloud provider of my choice

As a cco user, I wa

[2019-11-20 06:20] zelima opened #76 "Handle different versions of helm on different clusters"
As a cco user trying to deploy with helm, I had to reinstall helm version on my local machine every time I switched between clusters (azrure, ckan-cloud, minikube), cause different versions if it were installed on each of them.

As a cco user, I want that to be handled efficiently Eg: cco checks for helm version on a cluster and asks me to run `cco helm init` or similar, and installs the proper ve

[2019-11-20 07:54] pwalsh opened #77 "CI/CD for minikube deployments"
Requires https://github.com/datopian/ckan-cloud-operator/issues/68

# Description

Write a CI job that demonstrates the minikube deployment target for CCO.

- download and install minikube
- deploy cco into minikube
- configure cco as needed
- deploy a ckan instance with all required services
- write tests that show CKAN is responding as expected for read and and writes

# Acceptance criteria

- [

[2019-11-20 07:54] pwalsh opened #78 "CI/CD for AWS deployments"
Related to #69 and #77

# Description

Write a CI job that demonstrates the AWS deployment target for CCO.

- [need credentials for a real sandbox account on AWS for these tests]
- use terraform default configuration to set up environment required by CCO on AWS:
   - Create RDS instance
   - Create EKS cluster
   - Create IAM roles if necessary
- ckan-cloud-operator cluster initialize should run c

[2019-11-20 07:54] pwalsh opened #79 "CI/CD for Azure deployments"
Requires #78

WIP

We need to be able to set up a k8s cluster + everything around it (nfs, db, permissions) using terraform so that cco cluster initialize passes correctly.

## Acceptance Criteria

- [x] We are able to set up Azure K8 cluster using terraform
- [x] We are able to do helm based deployment on that cluster
- [x] We can access the deployed running CKAN instance from browser

## Tasks

[2019-11-20 08:02] pwalsh opened #80 "CI/CD for GCP deployments"
Requires #79

# Description

# Acceptance criteria

[2019-11-20 08:11] pwalsh commented on #69
# Responsibilities of Terraform

In standing up an environment for managing a CKAN cluster, Terraform will have the following responsibilities:

- Standup k8s with default configuration of k8s-specific resources
- Standup external cloud services as appropriate for the provider
  - DB
  - Search
  - Cache
  - Object storage
- Standup and configure a DNS provider (cloud platform native, or cloudflar

[2019-11-20 10:06] aluminiumgeek commented on #70
@akariv yep, it's the same method https://github.com/ViderumGlobal/ckan-cloud-helm/blob/master/ckan/templates/ckan-deployment.yaml#L43

[2019-11-20 16:12] pwalsh opened #81 "Expose the state that CCO manages within a cluster"
# Job story

When I administer infrastructure that CCO manages, I want to be able to rebuild/reproduce the entire state of that cluster, so that I have the technical means to support disaster/recovery scenarios that require the establishment of an entire new infrastructure environment.

# Context

CCO produces/manages a lot of state about the configuration of the cluster and related services, as w

[2019-11-20 16:23] pwalsh opened #82 "Create (versioned) image for CCO and its direct dependencies"
# Story

When I administer a CCO-managed cluster, I want to ensure that CCO is built correctly, with a known version, and deployed in a deterministic way, so that I can manage CCO changes and security updates and quickly incorporate them into a running cluster via immutable deployment.

As an operator, I want the CCO management server to be provisioned from an image using an automated build proces

[2019-11-21 16:58] kimwdavidson opened #84 "Automate provisioning of CCO managed clusters"

[2019-11-22 05:14] zelima opened #85 "Instance create fails complaining about config values"
Tried to create an instance in minikube with cco (replicating this [script](https://github.com/datopian/ckan-cloud-operator/blob/master/scripts/create%20helm%20instance.py))
[code]

Where `values.yaml` looks like this (from https://github.com/ViderumGlobal/ckan-cloud-helm/blob/master/minikube-values.yaml, but fails as well with https://github.com/ViderumGlobal/ckan-cloud-helm/blob/master/aws-value

[2019-11-25 11:11] zelima commented on #85
One can create config map by running the following command
[code]

[2019-11-25 11:43] zelima opened #86 "ckan-cloud-operator cluster initialize --interactive fails to get CCO image tag"
I've tried to initialize cluster for minikube, but it's failing when trying to get the expected cco image tag from config manager. That's happening cause `config-map` is not initialized at that point at all (see analysis)

## Acceptance Criteria

- [ ] I don't see this error
[code]

## Tasks

- [  ] move `print_info` after config-map is initialized (or remove at all)

## Analysis

Traceback:
[code

[2019-11-25 11:50] zelima opened #87 "Enable database initialization inside minikube"
I'm trying to initialize cluster in minikube but only allowed providers are Gcloud and AWS https://github.com/datopian/ckan-cloud-operator/blob/master/ckan_cloud_operator/providers/cluster/manager.py#L61

[code]

## Acceptance Criteria

- [ ] I'm allowed to use local postgres for minikube instance
- [ ] At least initialize does not fail

## Tasks

- [ ] Find out where else cluster providers are us

[2019-11-25 12:25] aluminiumgeek commented on #70
### What's the user interface going to look like?
1. In `ckan-cloud-operator cluster initialize --interactive` flow there will be a step where you choose to use self-hosted minio or cloud-native buckets for file storage, and the choice will be saved in cluster config.
2. I'll also add optional `--bucket-region` parameter to the `ckan-cloud-operator ckan instance create helm` CLI command, which wil

[2019-11-25 13:24] zelima commented on #85
Actually this is not quite working as expected. Getting the same exact error after running
[code]

I can see operator-conf is there
[code]

Probably worth to note that centralized infra is created following this instruction https://github.com/ViderumGlobal/ckan-cloud-helm/blob/master/QUICKSTART_DEVELOPMENT.md#optional-deploy-the-centralized-infrastructure and not by `ckan-cloud-operator cluster in

[2019-11-25 13:35] zelima commented on #85
Probably worth to note that centralized infra is created following this instruction https://github.com/ViderumGlobal/ckan-cloud-helm/blob/master/QUICKSTART_DEVELOPMENT.md#optional-deploy-the-centralized-infrastructure and not by `ckan-cloud-operator cluster initialize` due to #87

[2019-11-25 16:30] kimwdavidson commented on #69
Esteban to breakdown ticket
- reusable terraform piece
- make it work for GSA environment
- create an image of the management operator

[2019-11-25 16:31] kimwdavidson commented on #68
Lower priority. Esteban and Paul to discuss

[2019-11-25 16:54] pwalsh commented on #69
@estebanruseler @kimwdavidson

- terraform (this ticket)
- make it work for GSA #78 (and/or, #80 but as we are still targeting AWS, then #78 for now)
- create an image #82

[2019-11-26 06:46] zelima commented on #85
This seems to be a workaround - run as python script
[code]

Passed the error above, but got to the new one (prob not related to this issue)

[code]

[2019-11-26 09:08] zelima commented on #85
So, the error message from the previous command happens only once. If I try to rerun the same command now I'm getting different error message

[code]

[2019-11-26 09:28] zelima commented on #85
To summarize above + As discussed with @aluminiumgeek all 3 errors are caused by incorrect cluster initialization:

- Centralized infra is deployed via helm following https://github.com/ViderumGlobal/ckan-cloud-helm/blob/master/QUICKSTART_DEVELOPMENT.md#optional-deploy-the-centralized-infrastructure
- and not with `cloud-operator cluster initialize --interactive`
- Because of #87 - CCO is designed

[2019-11-26 09:38] aluminiumgeek commented on #85
Rather than *incorrect* cluster initialization, I'd say `cluster initialize` command for minikube clusters just not supported :)

[2019-11-26 09:58] akariv commented on #85
Can't we just spin a simple postgresql container in the cluster to act as a replacement for such cases?

[2019-11-26 10:27] zelima commented on #85
@akariv we need to execute `cco cluster initialize` to avoid all those errors, but that command also takes care of database initializations and assumes one of `aws` or `gcloud` database instances should be initialized.

This is how `db.initialize()` looks like atm https://github.com/datopian/ckan-cloud-operator/blob/master/ckan_cloud_operator/providers/db/manager.py#L15-L29
[code]

Yes, we can ext

[2019-11-26 12:51] zelima commented on #85
I've paster my findings here https://github.com/datopian/ckan-cloud-operator/issues/87

[2019-11-26 13:43] #86 closed, assigned to aluminiumgeek

[2019-11-27 13:05] pwalsh commented on #84
@kimwdavidson @estebanruseler

Based on the title, this is a duplicate of https://github.com/datopian/ckan-cloud-operator/issues/69

I suggest we close it.

[2019-11-27 15:41] adborden commented on #78
If this ticket is for GSA, we already have the credentials for CI and the base environment setup. Work should be done in https://github.com/gsa/datagov-infrastructure-live and https://github.com/gsa/datagov-infrastructure-modules unless there is reason not to.

[2019-11-27 15:46] adborden commented on #84
This is the epic issue (in ZenHub) which tracks all the smaller issues, like #69, so not a duplicate.

But, we should probably close https://github.com/GSA/datagov-ckan-multi/issues/184, whose name is a bit general.

[2019-11-27 15:50] adborden commented on #82
@pwalsh so should we close https://github.com/GSA/datagov-ckan-multi/issues/189 as a duplicate?

[2019-11-27 15:54] pwalsh commented on #82
@adborden if that works for you, then would be great to track it here on this repo, so yes.

[2019-11-27 15:57] pwalsh commented on #84
@adborden ok. maybe if this the epic then we move it onto the datagov-ckan-multi tracker then? As it is now, it doesnt provide any info that is usable on this issue tracker. But, I am happy with whatever you @kimwdavidson and @estebanruseler would like.

[2019-11-27 15:57] adborden commented on #84
Okay, lets update https://github.com/GSA/datagov-ckan-multi/issues/184 to be the epic issue for this.

[2019-11-27 15:58] pwalsh commented on #78
@adborden ok.

@akariv cc

[2019-11-27 16:13] adborden commented on #78
Why is the minikube story #77 a dependency?

[2019-11-27 16:58] pwalsh commented on #78
@adborden by ensuring we are super clear in code and documentation about explicit and implicit dependencies on this cloud platform or that, we are paving a clear path for deterministic deployments on all cloud providers (two GSA related - AWS and GCP), and perhaps more importantly we are making it easier to develop and debug without having to standup sandbox environments on these cloud providers.

[2019-11-27 17:54] adborden commented on #84
Hmm, I'm having trouble adding datopian issues to the GSA epic... ZenHub doesn't give an error, but it seems the assignment doesn't stick. Maybe @kimwdavidson that's why you opened this issue?

[2019-11-27 18:01] adborden commented on #78
That is great, and I am all for accomplishing these, but in terms of priorities right now, the focus should be on GSA and making CCO work for GSA's infrastructure under GSA's processes. This story seems too big, with too many dependencies. Can we either a) re-scope this story to be more narrow and not include the other dependencies or b) create a new issue that we can prioritize next sprint that w

[2019-11-28 10:10] akariv commented on #77
This is the `cluster initialize` log from my machine.
Note:
- The required resources for minikube
- The responses to the interactive questions
- You need to wait for the solrcloud pods to get to the running state before continuing (around the `Enter a value for num-shards` question is a good place to wait)

[code]

[2019-11-28 21:26] akariv commented on #70
Sounds good @aluminiumgeek

[2019-11-28 21:29] akariv commented on #75
I added this for the minikube flow - shouldn't be difficult to replicate (more or less...) for the other providers.

[2019-11-28 21:33] akariv commented on #78
@aluminiumgeek, please take over this issue - I updated the task list in the description with some more details.

Make sure you build upon @zelima 's work in #77.

[2019-11-29 16:24] estebanruseler commented on #68
Moving this to icebox as per discussion with Aaron as this task performed by Irakli is not in the GSA project.

[2019-12-02 06:56] #68 closed, assigned to zelima

[2019-12-02 16:46] kimwdavidson commented on #84
Closing

[2019-12-02 16:46] #84 closed, assigned to nobody

[2019-12-05 12:40] estebanruseler commented on #70
Total: 8 days - consumed 6 days, remaining 2 days for AWS work

[2019-12-11 06:45] akariv opened #92 "Fix cluster initialization for the AWS provider"
Ensure that cluster initialization works on AWS, and that there are no manual steps required to set up a CCO cluster on AWS.

[2019-12-12 07:13] #92 closed, assigned to nobody

[2019-12-16 11:29] pwalsh commented on #77
@zelima @akariv  is this fully done? Can I review acceptance criteria?

[2019-12-16 11:37] zelima commented on #77
@pwalsh yes https://travis-ci.org/datopian/ckan-cloud-operator/jobs/624029871?utm_medium=notification&utm_source=github_status

[2019-12-17 15:29] aluminiumgeek commented on #70
Done wrapping storage modules with CKAN instance creation flow

[2019-12-17 22:32] adborden commented on #81
How does CCO currently store its state? Flat files? External systems e.g. Kubernetes? A database?

This would help me to prioritize this story.

[2019-12-18 05:48] akariv commented on #81
As custom kubernetes objects.

On Wed, Dec 18, 2019, 00:32 Aaron D Borden <notifications@github.com> wrote:

[2019-12-19 08:27] akariv opened #97 "Ensure domain registration flow works, integrate with AWS CI"

[2019-12-19 08:28] akariv opened #98 "Add smoke tests to created ckan instance to be run on CI on all providers"
Add a simple test suite based on py.test, to run in CI after creating an instance:
- Test using the instance's external domain
- Test to see the main page is up
- Create a dataset
- Upload a data file
- Test the search API to find the dataset
- Download the uploaded data

[2019-12-19 08:38] akariv opened #99 "Use packer.io to build an AMI for cco in CI"

[2019-12-19 08:39] akariv opened #100 "Integrate Jenkins in CCO image(s), remove jnlp image"

[2019-12-19 08:50] akariv opened #101 "Restore unit tests"

[2019-12-19 09:01] aluminiumgeek commented on #101
Fix for tests included to https://github.com/datopian/ckan-cloud-operator/pull/93 ([commit](https://github.com/datopian/ckan-cloud-operator/pull/93/commits/bc0edb20035339304125170967ae33e51e4f4131))

[2019-12-19 10:33] akariv opened #103 "Start measuring coverage by unit tests, fail build if coverage below threshold"

[2019-12-19 10:35] akariv opened #104 "Add tests for delete instance - ensure all resources and state are removed"

[2019-12-19 12:07] estebanruseler commented on #70
Adam reviewed PR and now Mikhail needs to update based on his comments.

[2019-12-19 16:39] kimwdavidson commented on #78
@estebanruseler and @akariv to rework this ticket to be more specific to GSA needs

[2019-12-19 16:44] rufuspollock commented on #78
Discussed with @adborden and did clarify that all of this is needed. Just want to be really clear that this is so we have a GSA-working CI script.

[2019-12-20 00:34] adborden commented on #78
I added this AC:

[2019-12-20 00:48] adborden commented on #81
You mean exporting would involve pulling objects out of the Kubernetes API and writing them to some file format?

If that's the case, I would lower the priority since it's not necessary to deploy into the GSA sandbox.

[2019-12-24 07:47] #101 closed, assigned to nobody

[2019-12-26 17:20] kimwdavidson commented on #69
move to backlog

[2019-12-30 17:26] kimwdavidson commented on #82
@akariv could you put an estimate on this ticket?

[2019-12-30 17:36] akariv commented on #82
It will be done by end of this week.

On Mon, Dec 30, 2019 at 7:26 PM Kim Davidson <notifications@github.com>
wrote:

[2019-12-30 22:54] adborden commented on #78
I don't think the AC was met yet, are we deploying into the GSA cluster as part of CI/CD?

[2020-01-11 01:39] adborden commented on #99
Is this done?

[2020-01-11 01:41] adborden commented on #99
https://github.com/datopian/ckan-cloud-operator/blob/master/.travis.yml#L85

[2020-01-13 17:22] kimwdavidson commented on #78
@estebanruseler to determine status of this ticket

[2020-01-13 17:23] kimwdavidson commented on #70
@estebanruseler to determine status with @aluminiumgeek

[2020-01-13 17:24] kimwdavidson commented on #82
@estebanruseler to determine status with @akariv

[2020-01-14 13:21] aluminiumgeek commented on #70
Travis CI build is green and all updates regarding PR review are finished.

[2020-01-15 12:45] zelima commented on #79
On every PR/push to the branch, using travis and terraform, we are

- creating azure kubernetes cluster
- creating azuresql server and Database instance
- Initializing CKAN Cloud Cluster
- Deploying CKAN instance with helm based deployment using CCO
- destroying after fail/success

For now, we are not checking instance accessible on localhost. Successful deploy mean CKAN is up and running.

- The

[2020-01-17 03:36] zelima opened #112 "ckan-cloud-operator should support Azure DNS provider"
CCO supports Cloudflare and AWS Route53 for registering DNS for CKAN applications. We need it to support Azure-DNS as well.

When CCO users deploy CKAN infra in azure environmen, they wants to register DNS records for their CKAN apps on Azure-DNS, so that they have all infra under their azure account.

When I want to create DNS record for my CKAN app (with CCO), I want it on Azure-DNS, so that I c

[2020-01-21 12:19] OriHoch opened #114 "should support external plugins"
Similar to the changes in #113 - but to allow multiple plugins, installed via pip

e.g.:

build a ckan-cloud-operator image with a list of plugins, each line is pip installed:

[code]

[2020-01-21 13:24] OriHoch commented on #114
For local development - mount the plugin directory you are working on into a ckan-cloud-operator container:

[code]

Install editable from the mounted volume:

[code]

[2020-01-21 13:29] OriHoch commented on #114
on pip install, the plugin should install any required OS dependencies / tools

[2020-01-22 14:54] pwalsh commented on #75
@akariv @zelima was this done for other providers, and, can you link me to the relevant part of code and docs so i can do acceptance checks?

[2020-01-22 14:55] pwalsh commented on #69
@akariv @zelima is this in a state for me to do acceptance testing yet?

[2020-01-22 14:56] pwalsh commented on #70
@akariv @zelima is this in a state for me to do acceptance testing yet (in general, not for data.gov specifally)?

[2020-01-22 14:57] pwalsh commented on #71
@akariv @zelima this is assigned to @aluminiumgeek

is this still to be done?

[2020-01-22 14:57] pwalsh commented on #72
@akariv @zelima is this in a state for me to do acceptance testing yet?

[2020-01-22 14:57] pwalsh commented on #73
@akariv @zelima is this in a state for me to do acceptance testing yet?

[2020-01-22 14:57] pwalsh commented on #74
@akariv @zelima is this in a state for me to do acceptance testing yet?

[2020-01-22 14:58] #77 closed, assigned to akariv, zelima

[2020-01-22 14:59] pwalsh commented on #78
@akariv @zelima is this in a state for me to do acceptance testing yet (aside from data.gov specific requirements)?

[2020-01-22 14:59] pwalsh commented on #79
@akariv @zelima is this in a state for me to do acceptance testing yet?

[2020-01-22 15:00] pwalsh commented on #85
@zelima can this be closed?

[2020-01-22 15:00] pwalsh commented on #87
@akariv @zelima is this still relevant?

[2020-01-22 15:00] pwalsh commented on #97
@akariv @zelima is this in a state for me to do acceptance testing yet?

[2020-01-22 15:01] pwalsh commented on #114
nice idea.

[2020-01-22 15:01] pwalsh commented on #112
@akariv @zelima is this in a state for me to do acceptance testing yet?

[2020-01-22 15:01] pwalsh commented on #104
@akariv @zelima is this in a state for me to do acceptance testing yet?

[2020-01-22 15:24] zelima commented on #75
@pwalsh
- AWS https://github.com/datopian/ckan-cloud-operator/blob/master/ckan_cloud_operator/providers/cluster/aws/manager.py#L64-L86
- Gcloud https://github.com/datopian/ckan-cloud-operator/blob/master/ckan_cloud_operator/providers/cluster/gcloud/manager.py#L132-L151
- Minikube https://github.com/datopian/ckan-cloud-operator/blob/master/ckan_cloud_operator/providers/cluster/minikube/manager.py#L

[2020-01-22 15:27] zelima commented on #69
We are still working on docs. Should have ready tomorrow

[2020-01-22 15:29] zelima commented on #70
Not yet, there still is active PR that needs to be merged https://github.com/datopian/ckan-cloud-operator/pull/83

cc @aluminiumgeek

[2020-01-22 15:31] zelima commented on #72
Docs are not ready yet. (esp depreciate part)

[2020-01-22 15:32] zelima commented on #73
I think yes https://github.com/datopian/ckan-cloud-operator/blob/master/docs/VALUES-FILE-REFERENCE.md

[2020-01-22 15:33] zelima commented on #74
No, values.yaml is still created manually for now afaik (@akariv correct me if I'm wrong )

[2020-01-22 15:37] zelima commented on #78
Not sure about Circle CI but it's green on travis

[2020-01-22 15:44] zelima commented on #79
Still needs to be merged https://github.com/datopian/ckan-cloud-operator/pull/105

[2020-01-22 15:46] zelima commented on #85
Yes, none of above is happening now

[2020-01-22 15:48] zelima commented on #87
No, the cluster is initialized on minikube without any errors

[2020-01-22 15:50] zelima commented on #112
Still needs to be merged  https://github.com/datopian/ckan-cloud-operator/pull/115

[2020-01-22 15:52] #87 closed, assigned to nobody

[2020-01-22 15:53] pwalsh commented on #78
ok. so @akariv just waits for you to confirm on CCI for datagov

[2020-01-22 15:53] #73 closed, assigned to nobody

[2020-01-22 15:54] #85 closed, assigned to nobody

[2020-01-23 17:02] akariv commented on #78
Yes, CI is travis-ci and it's deploying to AWS (Datopian Sandbox) on each run.

[2020-01-24 02:37] zelima opened #116 "Configure Traefik to support azure as DNS provider"
This should be part of Azure DNS integration. But instances ar enot loading over https.

## Acceptance Criteria

- [ ] https://a-ckan-instance.viderum.xyz/ is working

[2020-01-24 08:04] akariv commented on #97
This is covered by other issues, closing

[2020-01-24 08:04] #97 closed, assigned to nobody

[2020-01-24 09:25] pwalsh commented on #116
@zelima can you please write a story and acceptance criteria (I assumed this was working with the Azure DNS integration that is done)

[2020-01-24 11:06] zelima commented on #116
I assumed that way as well, but it is not. Pulled out separately to track...

[2020-01-25 01:24] #70 closed, assigned to adborden

[2020-01-25 01:25] #82 closed, assigned to adborden

[2020-01-25 01:26] adborden commented on #78
AC for CCO and its AWS dependencies are deployed into the GSA sandbox via CircleCI isn't met, but we're going to call this done and move on.

[2020-01-25 01:26] #78 closed, assigned to adborden

[2020-01-30 15:00] developper-ing opened #117 "Internal server error with the "Datasets" button"
Hello,
I configure **CKAN 2.8.2** under  **Ubuntu 16.04**. I Launched the different commands to obtain the dashobard of CKAN (ckan db init, start apache2, start nginx, start jetty8) and I checked the status of each of them. It was OK (activate)
I create a profile, but on  cliking the **"Datasets" button** , an **internal error server message appeared**.
I'am a beginner with CKAN I don't know what

[2020-01-30 16:08] pwalsh commented on #117
Hi. You are on the wrong issue tracker. Please try https://gitter.im/ckan/chat for help

[2020-01-30 16:08] #117 closed, assigned to nobody

[2020-02-10 12:38] zelima commented on #116
This is now part of #93

[2020-02-10 12:38] #116 closed, assigned to zelima

[2020-02-10 12:41] zelima opened #119 "Error: chart "ckan" matching version "v0.0.15-rc3" not found in ckan-cloud index."
This is not happening always, one may rerun and it might work fine. I've tried `helm repo update` but does not really change anything

Traceback
[code]

[2020-02-18 04:54] zelima commented on #119
This seems to be happening when using old versions only Eg we have `v0.0.15-rc4` already and it's failing on `v0.0.15-rc3`. Still not expected behaviour I assume

[2020-02-18 05:00] zelima opened #120 "Support pulling images from private container registries"
Currently, we only support deis instances to be pulled from private registries https://github.com/datopian/ckan-cloud-operator/blob/master/ckan_cloud_operator/providers/ckan/manager.py#L29

We need it to be enabled for any instance.

## Acceptance Criteria

- [x] Able to create instance that has image on private container registry (Eg gitlab)

## Task

- [x] refactor ckan/manager.py to do that oth

[2020-02-18 05:05] zelima opened #121 "Volume mounting issues with helm deployment"
- after successful deploy. Another pair of `ckan` and `jobs` pods are created that hang there forever
- However there are 2 working pods for both of them... and both of them doing fine in logs
[code]
- Both have nearly similar logs from `kubect describe`
ckan
[code]
Jobs
[code]

- Not sure bad gateway on https://aa.viderum.xyz/ and above is related. But I can see nothing from logs of working `ckan

[2020-02-18 05:05] zelima commented on #121
From @akariv
it seems that there is a volume mounting problem, right?
CCO starts ckan in two phases - first one just to init stuff and then a full deployment with replication.
it looks like the 2nd deployment can't start because the volumes are already mounted with the first deployment
and the first deployment won't end for some reason (perhaps it's waiting for the second deployment to get to read

[2020-02-18 05:12] zelima opened #122 "cco ckan instance create helm does not terminate if failed creating solr collection"
I run
[code]

If for whatever reasons solr collection is not created, I see logs saying it failed but cco continues deployment, and may even succeed. But at the end CKAN instance is not working cause there is no SOLR collection for it

## Acceptance Criteria

- [ ] I'm sure SOLR collection is created or failed for instance

## Tasks

- [ ] Check if failed and retry couple time
- [ ] Exit with non

[2020-02-18 08:39] zelima opened #123 "Solr pods are not stable on aks"
Solr pods keep restarting from time to time leading problems in deployment. Eg ckan instance will fail to connect to solr if one of them is in CrashLoop. For 26 h they've restarted >200 time some of them

[code]

## tasks

- [ ] Identify the reason

[2020-03-02 09:35] zelima commented on #121
This seems to be resolved after scaling down and up the deployment. Ttried manually  and it worked, probably we should make this part of cco.

[code]

But unfortunately, this did not solve the bed gateway issue. CKAN pod is stuck to start and the app is not listening on 5000

[2020-04-14 06:27] zelima opened #128 "Support ssl enforcement"
When creating ckan application it fails creating databases if SSL enforcement is set to enabled. Eg

[code]

## Acceptance Criteria

- [ ] CKAN app is deployed fine and dbs are created

## Tasks

-  ask for another parameter in cluster init - sslmode
  - By default it would be 'prefer', we can set it to 'require' if ssl is required
- build the connection strings so that they always contain this pa

[2020-06-17 11:13] zelima commented on #123
This is what I see from `kubectl describe`
[code]

Seems like zookeeper has very low memory allocated.

@akariv I see resources for SOLR pods are updated in this commit https://github.com/datopian/ckan-cloud-operator/commit/22423feec2806ce6a0465c16e43ed5356cf32348#diff-167428a1f2e6a73b2e24fcc3c27fbd97L275

What do you think if I make them configurable (with the current defaults) Eg in interactive

[2020-06-18 05:36] akariv commented on #123
I hope this is indeed the problem that's causing this, but we can try.
I see no harm in making these configurable.

[2020-06-18 05:56] #123 closed, assigned to nobody

[2020-11-19 06:50] zelima commented on #128
WONTFIX. This was not actually caused by SSL enforcement but the wrong  database URL

[2020-11-19 06:50] #128 closed, assigned to zelima

[2020-11-19 06:50] zelima commented on #122
Think this is a long time FIXED

[2020-11-19 06:50] #122 closed, assigned to zelima

[2020-11-19 06:52] zelima commented on #120
FIXED in https://github.com/datopian/ckan-cloud-operator/commit/a65253841b9879e7ac91cea4234264de238adb8a

[2020-11-19 06:52] #120 closed, assigned to zelima

[2020-11-19 06:54] zelima commented on #119
INVALID or maybe FIXED. Probably that version was not actually pushed that time (maybe CD failed)

[2020-11-19 06:54] #119 closed, assigned to nobody

[2020-11-19 06:54] zelima commented on #112
FIXED

[2020-11-19 06:54] #112 closed, assigned to zelima

[2020-11-19 06:59] zelima commented on #79
FIXED

[2020-11-19 06:59] #79 closed, assigned to zelima

[2020-11-19 07:54] zelima opened #139 "Upgrade to helm3"
Helm 2 is currently in its last phase of active development and only receiving security patches from the open-source community. On 13 November 2020, Helm 2 will be completely unsupported, including all security patches and removal of all assets such as open-source charts and binaries which use Helm 2. Any Helm 2 usage will be impacted starting 13 November 2020 as both the Tiller image and the defa

[2021-08-30 07:46] zelima commented on #139
FIXED

[2021-08-30 07:46] #139 closed, assigned to zelima

[2021-09-21 12:48] pdelboca opened #153 "Fix `awscli` dependencies when installing with pip"
Executing `pip install ckan-cloud-operator` in a virtual environment goes into a loop of downloading `awscli` versions to fix dependencies:

[code]

[2021-09-29 08:29] zelima commented on #153
FIXED in v1.4.0 and higher. By default we don not install aws cli and boto any more. To install cco with aws run `pip install cco[aws]`

[2021-09-29 08:29] #153 closed, assigned to nobody